.App{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */
.dzu-dropzone{
    position: absolute;
    top: 100vh;
    bottom: 50vh;
    width: 60vw;
    min-height: 50vh;
    overflow: hidden;
    border: 20px solid gray;
    border-radius: 20px;
    background-color: white;
    z-index: 2;

}
.dummy{
  position: absolute;
  top:150vh;
  min-height: 25vh;
  min-width: 60vw;
  padding-top: 30px;
}
.dzu-inputLabel{
  width: 58vw;
  height: 50vh;
  background-color: white;
}
.dzu-previewContainer{
  margin-top: 10vh;
  background-color: white;
    border-bottom: none;
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}
.logo {
    height: 100vh;
    width: 100vw;
    color: white;
    transition: all 0.3s ease-in-out;
}
.logo-home{
    position: fixed;
    transform: translate(-50%,-50%);
    height: 70vh;
    width:  90vw;
    top: 50%;
    left: 50%;
    vertical-align: middle;
  }
  
  @media only screen and (min-width: 768px) {
  .logo-home{
    height: 350px;
    width:  500px;
    vertical-align: middle;
  }
  }
  .resultImg{
    position: absolute;
    top: 100vh;
    height: 50vh;
    width: 50vw;
    border: 20px solid gray;
    border-radius: 20px;
  }
  .logo-header{
     height: 75px;
    position: fixed;
    transform: translate(-55%, -50%);
    width:  150px;
    top: 35px;
    left: 60px;
    z-index: 1035;
  }
  .elevation{
    color: white;
  }
  @media only screen and (max-width: 600px) {
    .dzu-dropzone {
      border: 5px solid gray;
    }
    .dzu-inputLabel{
      width: 57vw;
    }
  }